<% unless cart.items.empty? %>
<br/>
<h2>Your Cart</h2>
<table>
	<%= render(:partial => "cart_item",:collection => cart.items)%>
	
    <tr class="total_line">
      <td></td>
	  <td colspan="2">Total</td>
	  <td class="total_cell"><%= number_to_currency(cart.total_price)%></td>
    </tr>
</table>
    <%= button_to 'Check out',:action=>'checkout' %>
	<%= button_to 'Empty Cart',:action=>'empty_cart' %>
<%end%>